html,body { height:100%; overflow:hidden;font-size: 13px;}
*{margin:0;padding:0;}
select,input{font-size:9pt;}
img{border:0;}
i{font-style:normal;color:#999;}
a{color:#003C78;text-decoration:none;}
.link a{color:#0006A9;}
a:hover,.link a:hover{color:#FF0000;text-decoration:none;}

.logo,.logoRight{float:left;display:inline;overflow:hidden;}
.logo{font-size: 3em;text-align: center; width: 900px;}
.mainside{background-color: red; text-align: center;font-size: 3em;}
.item{text-align: left;font-size: 2em;}
.item li a{font-size: 1em;}
ul {list-style: none;}
.bottom{color:#9EA8AE;line-height:100%;text-align:center;}

.childside{width:183px;min-height:100px;float:left;display:inline;overflow:hidden;padding-left:10px;}
#menu{margin:0px;padding:0px;text-align:left;list-style:none;}
#menu .item{width:163px;padding-left:20px;list-style:none;line-height:30px; background:url(skin/skin.gif) no-repeat 0 -506px;margin-top:2px;}
#menu .item ul {margin-left:10px;padding:0;list-style:none;text-align:left;}
#menu .item ul li{height:28px;line-height:30px;text-align:left;overflow:hidden;white-space: nowrap;background:url(skin/skin.gif) no-repeat 0 -416px;margin:4px 0 4px 0;}
#menu .item ul li:hover{background-position:0 -446px;}
#menu .item ul li a{color:#023979;}
#menu .item ul li a:hover,#menu .item ul li.light a{color:#000;}
#menu a{display:block;}
#menu .item ul li.light{background-position:0 -476px;}
#menu .item ul li.light a{color:#FFF;}
.topbar{background: #99CCFF;font-size: 2em;}

.loginForm{min-height:100px;margin:20px 0 20px 20px;right:10px;overflow:auto;}
table.tableLoginForm{left:220px;right:10px;overflow:auto;border-collapse:collapse;}
table.tableLoginForm td{padding:5px; vertical-align:top;}
table.tableLoginForm td.t1{width:100px;text-align:right;color:#666;font-size:14px; white-space:nowrap;line-height:35px;background-color: #CCCCCC;}
table.tableLoginForm td.t1 b{color:#FF0000;font-size:16px;margin-right:5px;}
table.tableLoginForm td.t2{width:260px;color:#999;}
table.tableLoginForm td.t2 p{padding-bottom:5px;}
table.tableLoginForm td a{margin:0 8px 0 8px;}
table.tableLoginForm input.textInput,table.tableLoginForm .pwInput{width:240px;height:25px;padding-top:10px;font-size:16px;font-weight:bolder;}
table.tableLoginForm input.yzmInput{width:90px;height:35px;font-size:16px;font-weight:bolder;}
table.tableLoginForm .selectInput{width:240px;height:35px;}
table.tableLoginForm .selectInput2{width:115px;height:35px;}
table.tableLoginForm .textareaInput{width:240px;height:100px;line-height:150%;}
table.tableLoginForm td.t2 img{height:40px;vertical-align:middle;}
table.tableLoginForm tr{margin: 1px;}

.button01{width:120px;height:43px;border:none;cursor:pointer;background:url(skin/skin.gif) no-repeat;text-align:center;line-height:43px;display:block;}
.button01{display:inline;float:left;margin-right:10px;font-size:14px;font-weight:bolder;}
.button01{background-position:-197px -342px;color:#FFF;text-shadow:0px 1px 1px #A14101; }
.button01:hover{background-position:-317px -342px;color:#FFF;}

table.listTable{width:100%;border-collapse:collapse;border-top:1px solid #D4D4D4;border-left:1px solid #D4D4D4;margin-bottom:10px;}
table.listTable th,table.listTable td{padding:5px;border-right:1px solid #D4D4D4;border-bottom:1px solid #D4D4D4;text-align:left;}
table.listTable th{height:22px;line-height:22px;background:url(skin/bg-x.gif) repeat-x 0 -63px;}
table.listTable td{height:25px;}
table.listTable td a{margin-right:8px;}

/*CSS page style*/
.Pagebg{width:100%;height:40px;float:left;display:inline;overflow:hidden; margin-top:10px;background:#EFF7FA;}
.Pagebg select{width:50px;}
div.page{float:right; padding:3px; margin:5px 3px 3px 3px; font-family: Arial; font-size: 7pt; text-align:center;}
div.page a{border:#8db5d7 1px solid; color:#000; text-decoration:none; margin:0px 2px 0px 2px; padding:2px 5px 2px 5px;}
div.page a:hover {border: red 1px solid; margin:0px 2px 0px 2px; padding:2px 5px 2px 5px;}
div.page a:active {border: red 1px solid; margin:0px 2px 0px 2px; padding:2px 5px 2px 5px;}
div.page span.current {border: #E89954 1px solid; margin:0px 2px 0px 2px; padding:2px 5px 2px 5px; color:#000; font-weight:bolder; background-color:#FFCA7D}
div.page span.disabled {border: #CCC 1px solid; margin:0px 2px 0px 2px; padding:2px 5px 2px 5px; color:#CCC;}
div.page span.pageinfo {color: #999; font-size:9pt; margin-right:10px; vertical-align:bottom;}
div.page span.pageinfo b {color: #666; margin:0px 2px 0px 2px;}
/*CSS page style*/